.vs/
build/
edk2/
./edk2-non-osi/
nasm-2.13.03/
nasm-2.13.03-win64.zip 
openssl-1.0.2r-x64_86-win64/
openssl-1.0.2r-x64_86-win64.zip 
vc140.pdb
./x64/
./Release/
./edk2-platforms/
CdePkgValidation/library/ 
./CdePkgValidation/_CdeMofineLibrary/x64
./CdePkgValidation/_CdeMofineLibrary/Win32
CdePkgSrc