[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms
[submodule "CdePkg"]
	path = CdePkg
	url = https://github.com/KilianKegel/CdePkg
[submodule "CdeValidationPkg"]
	path = CdeValidationPkg
	url = https://github.com/KilianKegel/CdeValidationPkg.git
[submodule "CdePkgValidation"]
	path = CdePkgValidation
	url = https://github.com/KilianKegel/CdePkgValidation
